{% extends 'admin/adminbase.html.twig' %}

{% block body %}

    <h1>
        {{ title }}
    </h1>

    <a href="{{ path('admin_users_create') }}">Create new user</a>

    <h3>User list:</h3>
    <ul>
        {% for user in users %}
            <li> {{ user.email }}, {{ user.roles | json_encode }} </li>
        {% endfor %}
    </ul>

{% endblock %}