{% extends 'admin/adminbase.html.twig' %}

{% block body %}

    <a href="{{ path('app_logout') }}">Logout</a>

    <h1>
        {{ title }}
    </h1>

    <a href="{{ path('admin_users') }}">Users</a>
{% endblock %}